$main-color: #E32966;
$main-text: #fff;

$footer_secondary: #C7C7C7;

$btn-sm: 163px;

$font-s: 15px;
$font-m: 20px;
$font-l: 24px;
$font-heading-size: 40px;

$heading-font: 'Dela Gothic One', cursive;

$tablet-top: #1F1F22;
$tablet-body: #696969;

$header-height: 120px;
$header_tablet-height: 80px;
$header_mobile-height: 60px;
$header_shrink-height: 80px;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box_main-shadow: #E32966 0px 5px 15px;

$mobile-width: 600px;
$tablet-width: 1024px;
